.main .thanks-main-container{
    margin-top:120px;
}

.main .thanks-link{
    text-decoration:none;
}

@media(max-width:959px){
    .main .thanks-typography{
        font-size:24px;
    }
}

@media(max-width:449px){
    .main .thanks-typography{
        font-size:16px;
    }
}