.main .sticker-item-main-container:hover{
    box-shadow: 0 2px 10px gray;
}

.main .sticker-item-img{
    width:100%;
    cursor:pointer;
}

.main .sticker-item-cost-block{
    margin-top:20px;
    margin-bottom:20px;
}

.main .sticker-item-title{
    text-align:center;
}

@media (min-width: 320px) and (max-width: 519px){
    .main .sticker-item-btn-text{
        font-size: 6px;
    }

    .main .sticker-item-title-container{
        display:none;
    }
}

@media (min-width: 520px) and (max-width: 767px){
    .main .sticker-item-title{
        font-size:14px;
    }

    .main .sticker-item-btn-text{
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 959px){
    .main .sticker-item-btn-text{
        font-size: 14px;
    }
}

@media (min-width: 960px) and (max-width: 1279px){
    .main .sticker-item-title{
        font-size:12px;
    }

    .main .sticker-item-btn-text{
        font-size: 12px;
    }
}

@media (min-width: 1280px) and (max-width: 1919px){
    .main .sticker-item-btn-text{
        font-size: 15px;
    }
}

@media (min-width: 1920px){
    .main .sticker-item-btn-text{
        font-size: 16px;
    }
}